{% extends 'base.html' %}

{% block content %}
<section class="text-center">
    <h2 class="my-4">立峰的中文书库</h2>

    <!-- Add the search form here -->
    <form class="form-inline justify-content-center mb-4" action="{{ url_for('search') }}" method="GET">
        <input class="form-control mr-2" type="text" name="query" placeholder="搜索书籍名称 (Search Book Name)" aria-label="Search" required>
        <button class="btn btn-primary" type="submit">搜索 (Search)</button>
    </form>

    <p>请选择一个分类开始阅读 (Select a category to start reading):</p>
</section>

<div class="row">
    {% for category in categories %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">{{ category }}</h5>
                <a href="{{ url_for('category', category_name=category) }}" class="btn btn-primary">浏览 (Browse)</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
