/*.imagecontainer
{
  background-color:red;
  height:25%;
  float:left;
  margin:10;
}*/

body
{
  background-color:black;
}

#container
{
  background-color:black;
  width:40%;
  margin:auto;
}

.thumbnail_end
{
 text-align:right;
 align:right;
}
.thumbnail
{
  width:20%;
  opacity:.3;
  z-index:1;
}
.thumbnail:hover
{
  opacity:1;
}

.blown
{
  width: 60% ;
  z-index:100;
  opacity:1;
/*  box-shadow: 25px 25px 25px grey; */
}