<!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
<script src="./vue.global.js"></script>
<link href="css.css" rel="stylesheet" type="text/css">
<div id="app">

	<logo logo_image="https://lh5.googleusercontent.com/wtjO2Kh90htoV246jgKtJfVnWnlE2jgpoUZTE8-O4McwmpsXNo0RqmWVd0FIvv45ZEAPV_Xi8WYu33XMbO6gRFI=w16383"></logo>
	<div id="nav_button_box">
		<!-- <transition name="fade"> -->
<!--		<navigation_button @click="hideSubmenu = true" display_text="Home" target_element_id="home" name="home" @update_current_section="update_current_section" :current_section="current_section"></navigation_button>-->
		<!-- </transition> -->
		<!-- <transition name="fade"> -->
		<navigation_button @click="hideSubmenu = !hideSubmenu" display_text="Projects" target_element_id="home" name="home" @update_current_section="update_current_section" :current_section="current_section"></navigation_button>
		<!-- </transition> -->
		<!-- <transition name="fade"> -->
		<navigation_button @click="hideSubmenu = true" display_text="About" target_element_id="about" name="about" @update_current_section="update_current_section" :current_section="current_section"></navigation_button>
		<!-- </transition> -->
		<!-- <transition name="fade"> -->
		<navigation_button @click="hideSubmenu = true" display_text="Resume" target_element_id="resume" name="resume" @update_current_section="update_current_section" :current_section="current_section"></navigation_button>
		<!-- </transition> -->

		<div v-if="!hideSubmenu" id="project_submenu" @click="hideSubmenu = true">
			<navigation_button display_text="Foodiee" target_element_id="foodie" name="foodie" @update_current_section="update_current_project_section" :current_section="current_project_section"></navigation_button>
			<navigation_button display_text="GalleryPal" target_element_id="gallerypal" name="gallerypal" @update_current_section="update_current_project_section" :current_section="current_project_section"></navigation_button>
		</div>
	</div>
    
	<div class="darken_backdrop"></div>

	<div class="content_box home_default" v-if="current_section=='home'">
		<h1>Hi,</h1>
		<p>My name is Vivi, I'm a UX/UI designer. I like designing accessible and impactful products for all and am always seeking creative ways to make lives easier.</p>
		<div class="home_page_nav" @click="update_current_project_section('foodie')">Foodie</div>
		<div class="home_page_nav" @click="update_current_project_section('gallerypal')">GalleryPal</div>
		<div class="home_page_nav" @click="update_current_project_section('neptune')">Neptune</div>
	</div>



	<transition name="fade">
		<live_background :current_section="current_section" linked_content="home" image_url="./assets/bg1.jpg"></live_background>
	</transition>
<!--	<transition name="slide-fade">-->
<!--		<content :current_section="current_section" title="home" content_file_path="./section_pages/home.html"></content>-->
<!--	</transition>-->


	<transition name="fade">
		<live_background :current_section="current_section" linked_content="projects" image_url="./assets/bg2.jpg"></live_background>
	</transition>
	<transition name="slide-fade">
		<content :current_section="current_section" title="projects" content_file_path="./section_pages/foodie.html"></content>
	</transition>


	<transition name="fade">
		<live_background :current_section="current_section" linked_content="about" image_url="./assets/bg3.jpg"></live_background>
	</transition>
	<transition name="slide-fade">
		<content :current_section="current_section" title="about" content_file_path="content placeholder"></content>
	</transition>


	<transition name="fade">
		<live_background :current_section="current_section" linked_content="resume" image_url="./assets/bg5.jpg"></live_background>
	</transition>
	<transition name="slide-fade">
		<content :current_section="current_section" title="resume" content_file_path="./section_pages/resume.html"></content>
	</transition>


	<transition name="fade">
		<live_background :current_section="current_project_section" linked_content="foodie" image_url="./assets/bg5.jpg"></live_background>
	</transition>
	<transition name="slide-fade">
		<content :current_section="current_project_section" title="foodie" content_file_path="./section_pages/foodie.html"></content>
	</transition>

	<transition name="fade">
		<live_background :current_section="current_project_section" linked_content="gallerypal" image_url="./assets/bg5.jpg"></live_background>
	</transition>
	<transition name="slide-fade">
		<content :current_section="current_project_section" title="gallerypal" content_file_path="./section_pages/gallerypal.html"></content>
	</transition>
</div> <!-- end app section -->

<script src="./main.js"></script>
<script src="./components/logo.js"></script>
<script src="./components/navigation.js"></script>
<script src="./components/content.js"></script>
<script src="./components/live_background.js"></script>

<script>
	const mountedApp = app.mount('#app')
</script>


<style>
	.fade-enter-active, .fade-leave-active {
		transition: opacity 0.9s;
	}
	.fade-enter-from, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}
	.slide-fade-enter-active {
  		transition: all .5s ease;
	}
	/* .slide-fade-enter {
  	transition: all .5s ease;
	} */
	.slide-fade-leave-active {
		transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter-from, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
		transform: translateX(20px);
		opacity: 0;
	}



</style>